# PHY1003 – Introduction to Computational Physics Lab
# Developed by Dr. Sharad Chandra Tripathi
# Employee ID: 100015
# School of Advanced Sciences and Languages
# VIT Bhopal University

numpy
matplotlib
scipy
pandas
jupyter
